# ----------------------------------------
# ᴍᴀᴅᴇ ʙʏ ʀɪᴏ sʜɪɴ | @Rioshin
# ғᴏʀ ʙᴏᴛsᴋɪɴɢᴅᴏᴍs | @BotsKingdoms
# ᴀɴʏ ɪssᴜᴇ ᴏʀ ᴇʀʀᴏʀ ᴅᴍ ʀɪᴏsʜɪɴ
# ----------------------------------------

pyrofork
tgcrypto
pymongo
Flask==2.3.3
